@use "sass:map";
@use "@setting" as *;

.root {
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.root::-webkit-scrollbar {
  display: none;
}

.content {
  display: flex;
  width: max-content;
  height: calc(86vh - 64px);
  padding: 0 32px;
}

.artModel {
  width: calc((264 / 390) * (100vh * (390 / 844)));

  &:nth-child(6n + 1) {
    transform: translate(0, 28px);
  }

  &:nth-child(6n + 2) {
    transform: translate(calc((-78 / 390) * 100%), calc((290 / 589) * 100%));
  }

  &:nth-child(6n + 3) {
    transform: translate(0, calc((66 / 589) * 100%));
  }

  &:nth-child(6n + 4) {
    transform: translate(calc((-41 / 390) * 100%), calc((346 / 589) * 100%));
  }

  &:nth-child(6n) {
    transform: translate(calc((-62 / 390) * 100%), calc((263 / 589) * 100%));
  }
}
