@use "sass:map";
@use "@setting" as *;

.root {
  display: inline-block;
  width: 100%;
  aspect-ratio: 104 / 56;
}

.inner {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.arrow {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: calc((32 / 104) * 100%);
  margin: calc((3 / 104) * 100%) calc((-20 / 104) * 100%) 0 0;

  span {
    display: inline-block;
    height: 2px;
    background-color: #d9d9d9;

    &:nth-child(1) {
      width: calc((54 / 104) * 100%);
      transform: translate(calc((2 / 104) * 100%), 100%) rotate(38.76deg);
      transform-origin: right;
    }

    &:nth-child(2) {
      width: 100%;
    }
  }
}

.circle {
  width: calc((36 / 104) * 100%);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  aspect-ratio: 1 / 1;
}
