@use "sass:map";

$baseColor: (
  "index": #000000,
  "L95": rgba(#000000, 0.95),
  "L90": rgba(#000000, 0.9),
  "L85": rgba(#000000, 0.85),
  "L80": rgba(#000000, 0.8),
  "L75": rgba(#000000, 0.75),
  "L70": rgba(#000000, 0.7),
  "L65": rgba(#000000, 0.65),
  "L60": rgba(#000000, 0.6),
  "L55": rgba(#000000, 0.55),
  "L50": rgba(#000000, 0.5),
  "L45": rgba(#000000, 0.45),
  "L40": rgba(#000000, 0.4),
  "L35": rgba(#000000, 0.35),
  "L30": rgba(#000000, 0.3),
  "L25": rgba(#000000, 0.25),
  "L20": rgba(#000000, 0.2),
  "L15": rgba(#000000, 0.15),
  "L10": rgba(#000000, 0.1),
  "L5": rgba(#000000, 0.05),
);

$mainColor: (
  "index": #ffffff,
  "L95": rgba(#ffffff, 0.95),
  "L90": rgba(#ffffff, 0.9),
  "L85": rgba(#ffffff, 0.85),
  "L80": rgba(#ffffff, 0.8),
  "L75": rgba(#ffffff, 0.75),
  "L70": rgba(#ffffff, 0.7),
  "L65": rgba(#ffffff, 0.65),
  "L60": rgba(#ffffff, 0.6),
  "L55": rgba(#ffffff, 0.55),
  "L50": rgba(#ffffff, 0.5),
  "L45": rgba(#ffffff, 0.45),
  "L40": rgba(#ffffff, 0.4),
  "L35": rgba(#ffffff, 0.35),
  "L30": rgba(#ffffff, 0.3),
  "L25": rgba(#ffffff, 0.25),
  "L20": rgba(#ffffff, 0.2),
  "L15": rgba(#ffffff, 0.15),
  "L10": rgba(#ffffff, 0.1),
  "L5": rgba(#ffffff, 0.05),
);

$infoColor: (
  "red": #ed695e,
  "yellow": #f4bf4e,
  "green": #61c554,
  "link": #84b6fd,
);
