@use "./variable" as *;

@mixin container($breakPoint) {
  @container (max-width: $breakPoint) {
    @content;
  }
}

@mixin pc() {
  @media screen and (min-width: $breakPoint + 1px) {
    @content;
  }
}

@mixin sp() {
  @media screen and (max-width: $breakPoint) {
    @content;
  }
}

@mixin spWidth() {
  @include pc {
    left: 50%;
    width: calc(100vh * (390 / 844));
    transform: translate(-50%, 0);
  }
}
