@use "sass:map";
@use "@setting" as *;

.load {
  animation: loadingFade 2s infinite;
  font-size: 24px;
}

@keyframes loadingFade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
